.env
.venv/
__pycache__/
.DS_Store
*.pyc

.env
/Users/adithyasuresh/Documents/Project./Capstone/Multi-Video-Inference-Testing/Retrieval Code/.venv/
__pycache__/
m1.txt
Retrieval Code/just_python_running.py
